<template>
    <div class="tipoItem">
        <!-- alerta CRUD -->
        <v-snackbar v-model="alerta" :color="colorAlerta" right top :timeout="timeout">
            {{ textoAlerta }}
            <template v-slot:action="{ attrs }">
                <v-btn text v-bind="attrs" @click="alerta = false">
                    Cerrar
                </v-btn>
            </template>
        </v-snackbar>
        <!-- fin alerta CRUD -->
        <v-card>
            <v-dialog v-model="modalTipoItem" max-width="500px" persistent>
                <v-card>
                    <v-toolbar color="primary" dark>
                        <v-card-title>
                            <span class="text-h5">{{ tituloTipoItem }}</span>
                        </v-card-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-container>
                            <v-form ref="frmTipoItem" v-model="validoTipoItem" lazy-validation>
                                <v-text-field v-model="editTipoItem.nombre" :rules="reglaNombreTipoItem"
                                    prepend-inner-icon="mdi-format-text" label="Name" outlined clearable required>
                                </v-text-field>
                                <v-text-field v-model="editTipoItem.alias" :rules="reglaAliasTipoItem"
                                    prepend-inner-icon="mdi-format-color-text" label="Alias" outlined clearable
                                    required>
                                </v-text-field>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="error" class="mr-4" @click="cancelarTipoItem">
                                        Cancelar
                                    </v-btn>
                                    <v-btn :disabled="!validoTipoItem" color="success" class="mr-4"
                                        @click="guardarTipoItem">
                                        Guardar
                                    </v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-container>
                    </v-card-text>
                </v-card>
            </v-dialog>
            <v-dialog v-model="modalEliminarTipoItem" max-width="550px">
                <v-card>
                    <v-card-title class="text-h6 font-weight-ligth text--secondary">
                        <v-icon x-large left color="error">
                            mdi-alert-octagon-outline
                        </v-icon>
                        ¿Estas seguro que deceas eliminar este campo?
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="error" @click="cerrareliminarTipoItem">
                            Cancelar
                        </v-btn>
                        <v-btn color="success" @click="confirmarElimTipoItem">
                            Aceptar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <!-- tabla -->
            <tabla :header="headersTipoItem" :body="tiposItems" tituloTabla="TIPOS ITEMS" :accionAgregar="true"
                :exportar="true" @recargar="listarTipoItem" @agregar="agregarTipoItem" @actualizar="editarTipoItem"
                @eliminar="eliminarTipoItem" />
            <!-- tabla fin -->
        </v-card>
    </div>
</template>
<style>
</style>
<script>
    import {
        mapState,
        mapActions
    } from "vuex";
    import tabla from "../components/view/Tabla";
    export default {
        name: "tipoItem",
        components: {
            tabla,
        },
        data: () => ({
            url_api: process.env.VUE_APP_URL_API,
            tab: null,
            municipios: [],

            alerta: false,
            textoAlerta: '',
            colorAlerta: '',
            timeout: 2000,
            // variables tipoItem 
            UidTipoItem: null,
            buscarTipoItem: '',
            validoTipoItem: true,
            modalTipoItem: false,
            modalEliminarTipoItem: false,
            headersTipoItem: [{
                    text: '#',
                    value: 'numero'
                },
                {
                    text: 'Nombre corto',
                    align: 'start',
                    value: 'alias',
                },
                {
                    text: 'Nombre / Tipo Item',
                    align: 'start',
                    value: 'nombre',
                },
                {
                    text: 'Acciones',
                    value: 'acciones',
                    sortable: false
                },
            ],
            tiposItems: [],
            reglaNombreTipoItem: [
                v => !!v || 'El nombre del tipo es obligatorio.'
            ],
            reglaAliasTipoItem: [
                v => !!v || 'El alias del tipo es obligatorio.'
            ],
            editedTipoItemIndex: -1,
            editTipoItem: {
                nombre: '',
                alias: ''
            },
            defaultTipoItem: {
                nombre: '',
                alias: ''
            },
            // fin variables tipoItem
        }),

        computed: {
            ...mapState(["token"]),
            // titulo modal tipoItem 
            tituloTipoItem() {
                return this.editedTipoItemIndex === -1 ? 'Nuevo Tipo' : 'Editar Tipo'
            },
        },

        watch: {
            // modal tipoItem
            modalTipoItem(val) {
                val || this.cancelarTipoItem()
            },
            modalEliminarTipoItem(val) {
                val || this.cerrareliminarTipoItem()
            },
            // fin modal tipoItem
        },

        created() {
            // listar tiposItems
            this.listarTipoItem()
        },

        methods: {
            ...mapActions(['cerrarSesion']),

            // CRUD paises 
            async listarTipoItem() {
                try {
                    await fetch(`${this.url_api}/tipo_item`, {
                            headers: {
                                'Content-Type': 'application/json',
                                "auth-token": this.token
                            }
                        }).then(res => res.json())
                        .catch(error => console.error('Error:', error))
                        .then(response => {
                            if (response.body) {
                                this.tiposItems = response.body
                            } else if (response.error == ('!token' || 'tokenNull')) {
                                this.cerrarSesion();
                            }
                        });
                } catch (error) {
                    console.error('Error:', error);
                }
            },

            agregarTipoItem() {
                this.modalTipoItem = true
            },

            editarTipoItem(tipo) {
                this.editedTipoItemIndex = this.tiposItems.indexOf(tipo)
                this.editTipoItem = Object.assign({}, tipo)
                this.modalTipoItem = true
                this.UidTipoItem = tipo.Uid;
            },

            eliminarTipoItem(tipo) {
                this.editedTipoItemIndex = this.tiposItems.indexOf(tipo)
                this.editTipoItem = Object.assign({}, tipo)
                this.modalEliminarTipoItem = true
                this.UidTipoItem = tipo.Uid;
            },

            async confirmarElimTipoItem() {
                try {
                    await fetch(`${this.url_api}/tipo_item/${this.UidTipoItem}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                                "auth-token": this.token
                            }
                        }).then(res => res.json())
                        .catch(error => console.error('Error:', error))
                        .then(response => {
                            if (response.body == 'exito') {
                                this.alerta = false;
                                this.textoAlerta = 'Dato eliminado con Exito!';
                                this.colorAlerta = 'warning'
                                this.alerta = true;
                                this.tiposItems.splice(this.editedTipoItemIndex, 1);
                            } else if (response.error == ('!token' || 'tokenNull')) {
                                this.cerrarSesion();
                            } else if (response.error) {
                                this.alerta = false;
                                this.textoAlerta = 'Rerror al eliminar!';
                                this.colorAlerta = 'error'
                                this.alerta = true;
                            }
                        });
                } catch (error) {
                    console.error('Error:', error);
                }
                this.cerrareliminarTipoItem()
            },

            cancelarTipoItem() {
                this.$refs.frmTipoItem.reset()
                this.$refs.frmTipoItem.resetValidation()
                this.modalTipoItem = false
                this.$nextTick(() => {
                    this.editTipoItem = Object.assign({}, this.defaultTipoItem)
                    this.editedTipoItemIndex = -1
                })
            },

            cerrareliminarTipoItem() {
                this.modalEliminarTipoItem = false
                this.$nextTick(() => {
                    this.editTipoItem = Object.assign({}, this.defaultTipoItem)
                    this.editedTipoItemIndex = -1
                })
            },

            async guardarTipoItem() {
                if (this.$refs.frmTipoItem.validate()) {
                    if (this.editedTipoItemIndex > -1) {
                        try {
                            await fetch(`${this.url_api}/tipo_item/${this.UidTipoItem}`, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        "auth-token": this.token
                                    },
                                    body: JSON.stringify(this.editTipoItem)
                                }).then(res => res.json())
                                .catch(error => console.error('Error:', error))
                                .then(response => {
                                    if (response.body == 'exito') {
                                        this.alerta = false;
                                        this.textoAlerta = 'Dato actualizado con Exito!';
                                        this.colorAlerta = 'primary'
                                        this.alerta = true;
                                        Object.assign(this.tiposItems[this.editedTipoItemIndex], this
                                            .editTipoItem);
                                    } else if (response.error == ('!token' || 'tokenNull')) {
                                        this.cerrarSesion();
                                    } else if (response.error) {
                                        this.alerta = false;
                                        this.textoAlerta = 'Error al actualizar!';
                                        this.colorAlerta = 'error'
                                        this.alerta = true;
                                    }
                                });
                        } catch (error) {
                            console.error('Error:', error);
                        }
                        this.UidTipoItem = null
                    } else {
                        try {
                            await fetch(`${this.url_api}/tipo_item`, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        "auth-token": this.token
                                    },
                                    body: JSON.stringify(this.editTipoItem)
                                }).then(res => res.json())
                                .catch(error => console.error('Error:', error))
                                .then(response => {
                                    if (response.body == 'exito') {
                                        this.alerta = false;
                                        this.textoAlerta = 'Dato agregado con Exito!';
                                        this.colorAlerta = 'success'
                                        this.alerta = true;
                                        this.listarTipoItem();
                                    } else if (response.error == ('!token' || 'tokenNull')) {
                                        this.cerrarSesion();
                                    } else if (response.error) {
                                        this.alerta = false;
                                        this.textoAlerta = 'Error al agregar!';
                                        this.colorAlerta = 'error'
                                        this.alerta = true;
                                    }
                                });
                        } catch (error) {
                            console.error('Error:', error);
                        }
                    }
                    this.cancelarTipoItem()
                }
            },
            // fin CRUD tiposItems
        },
    }
</script>