
  <template>
  <v-data-table
    :headers="headers"
    hide-default-footer
    slot="no-data"
    class="elevation-1 col-md-12"
  >
    <template v-slot:body.prepend>
      <tr>
        <td class="text-xs-right">
          El equipo cuenta con datos de identificación
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          La ficha técnica evidencia datos del equipo.
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul2"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal2"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Los datos de la ficha técnica cumplen con los requerimientos
          normativos.
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul3"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal3"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Carcasa exterior.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul4"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal4"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Carcasa interior.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul5"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal5"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Ranuras y orificios de fijación de los accesorios.
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul6"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal6"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Cortinillas de ventilación.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul7"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal7"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Almohadilla.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul8"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal8"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Cintas y fijaciones en la carcasa.</td>
        <td>
          <v-select
            v-model="dataTabla.resul9"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal9"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Contorno de cabeza y fijaciones en la carcasa.
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul10"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal10"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Sistema de regulación y de sus fijaciones en la carcasa.
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul11"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal11"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Cintas del barboquejo.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul12"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal12"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Elementos de regulación.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul13"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal13"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Hebilla de cierre del barboquejo.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul14"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal14"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Acolchados de confort.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul15"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal15"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Ganchos de fijación de las linternas frontales.
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul16"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal16"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Accesorios fijados al casco.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul17"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal17"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
    </template>
    <template v-slot:no-data></template>
  </v-data-table>
</template>

<script>
export default {
  data: () => ({
    headers: [
       {
         text: 'Descricion del criterio a inspeccionar',
         align: 'start',
         sortable: false,
         value: 'name',
       },
       { text: 'Resultado',  },
          { text: 'Hallazgos',  },
     ],
    dataTabla: {
      resul: "",
      hal: "",
      resul2: "",
      hal2: "",
      resul3: "",
      hal3: "",
      resul4: "",
      hal4: "",
      resul5: "",
      hal5: "",
      resul6: "",
      hal6: "",
      resul7: "",
      hal7: "",
      resul8: "",
      hal8: "",
      resul9: "",
      hal9: "",
      resul10: "",
      hal10: "",
      resul11: "",
      hal11: "",
      resul12: "",
      hal12: "",
      resul13: "",
      hal13: "",
      resul14: "",
      hal14: "",
      resul15: "",
      hal15: "",
      resul16: "",
      hal16: "",
      resul17: "",
      hal17: "",
    },
  }),
  mounted(){
      this.$emit('tablaOne', this.dataTabla);
  },
  computed: {
     // un getter computado
     reversedMessage: function () {
       // `this` apunta a la instancia vm
       return this.dataTabla.split('').reverse().join('')
     }
  }
};
</script>
