
  <template>
  <v-data-table
    :headers="headers"
    hide-default-footer
    slot="no-data"
    class="elevation-1 col-md-12"
  >
    <template v-slot:body.prepend>
      <tr>
        <td class="text-xs-right">
          El equipo cuenta con datos de identificación
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          La etiqueta del equipo evidencia sus datos
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul2"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal2"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Los datos de la etiqueta del equipo cumplen con los requerimientos
          normativos
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul3"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal3"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          El absorbedor de energía externo cuenta con etiqueta de identificación
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul4"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal4"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          La etiqueta del absorbedor de energía externo evidencia sus datos
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul5"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal5"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Los datos de la etiqueta del absorbedor de energía externo cumplen con
          los requerimientos normativos
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul6"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal6"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Resistencia integral mínima a la rotura de 5000 Lb
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul7"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal7"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          La longitud máxima de la eslinga es de 1,80 m
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul8"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal8"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          La elongación máxima del equipo es de 1,07 m
        </td>
        <td>
          <v-select
            v-model="dataTabla.resul9"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal9"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          El equipo tiene la capacidad de reducir las fuerzas de impacto al
          cuerpo del trabajador, a máximo el 50% de la MFD equivalente a 900
          libras (4 KN - 408 Kg)
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul10"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal10"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Las fibras de las reatas e hilos de las costuras cumplen criterios
          normativos
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul11"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal11"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Los hilos de las costuras son de diferente color al de las correas
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul12"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal12"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Todos los conectores cumplen con la resistencia mínima a la rotura
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul13"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal13"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Absorbedor de energía</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul14"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal14"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Cuerpo de la línea “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul15"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal15"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Cuerpo de la línea “B”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul16"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal16"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Ponchado de acople de la línea “A” al absorbedor de energía
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul17"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal17"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Ponchado de acople de la línea “B” al absorbedor de energía
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul18"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal18"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Ponchado de acople de la línea “A” al conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul19"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal19"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Ponchado de acople de la línea “B” al conector “B”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul20"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal20"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Ponchado de acople del absorbedor de energía con las líneas “A” y “B”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul21"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal21"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Ponchado de acople del absorbedor de energía con el conector “C”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul22"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal22"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Herrajes de unión de las líneas con el absorbedor de energía
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul23"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal23"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Sistema de apertura de doble de seguridad del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul24"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal24"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Sistema de cierra automático del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul25"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal25"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Criterios normativos de marcación del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul26"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal26"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Pasador del pestillo, cierre o gatillo del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul27"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal27"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Pestillo, cierre o gatillo del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul28"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal28"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Seguro de la nariz del conector “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul29"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal29"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Nariz del conector “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul30"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal30"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Eje principal del conector “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul31"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal31"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Superficies ideales de trabajo del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul32"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal32"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Orificio de conexión del conector “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul33"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal33"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Sistema de apertura de doble de seguridad del conector “B”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul34"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal34"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Sistema de cierra automático del conector “B”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul35"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal35"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Criterios normativos de marcación del conector “B”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul36"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal36"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Pasador del pestillo, cierre o gatillo del conector “B”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul37"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal37"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Pestillo, cierre o gatillo del conector “B”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul38"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal38"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Seguro de la nariz del conector “B”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul39"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal39"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Nariz del conector “B”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul40"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal40"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Eje principal del conector “B”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul41"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal41"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Superficies ideales de trabajo del conector “B”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul42"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal42"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Orificio de conexión del conector “B”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul43"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal43"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Sistema de apertura de doble de seguridad del conector “C”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul44"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal44"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Sistema de cierra automático del conector “C”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul45"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal45"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Criterios normativos de marcación del conector “C”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul46"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal46"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Pasador del pestillo, cierre o gatillo del conector “C”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul47"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal47"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Pestillo, cierre o gatillo del conector “C”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul48"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal48"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Seguro de la nariz del conector “C”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul49"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal49"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Nariz del conector “C”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul50"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal50"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Eje principal del conector “C”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul51"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal51"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Superficies ideales de trabajo del conector “C”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul52"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal52"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Orificio de conexión del conector “C”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul53"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal53"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Sistema regulable de la línea “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul54"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal54"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Sistema regulable de la línea “B”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul55"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal55"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
    </template>
    <template v-slot:no-data></template>
  </v-data-table>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {
        text: "Descricion del criterio a inspeccionar",
        align: "start",
        sortable: false,
        value: "name",
      },
      { text: "Resultado" },
      { text: "Hallazgos" },
    ],
    dataTabla: {
      resul: "",
      hal: "",
      resul2: "",
      hal2: "",
      resul3: "",
      hal3: "",
      resul4: "",
      hal4: "",
      resul5: "",
      hal5: "",
      resul6: "",
      hal6: "",
      resul7: "",
      hal7: "",
      resul8: "",
      hal8: "",
      resul9: "",
      hal9: "",
      resul10: "",
      hal10: "",
      resul11: "",
      hal11: "",
      resul12: "",
      hal12: "",
      resul13: "",
      hal13: "",
      resul14: "",
      hal14: "",
      resul15: "",
      hal15: "",
      resul16: "",
      hal16: "",
      resul17: "",
      hal17: "",
      resul18: "",
      hal18: "",
      resul19: "",
      hal19: "",
      resul20: "",
      hal20: "",
      resul21: "",
      hal21: "",
      resul22: "",
      hal22: "",
      resul23: "",
      hal23: "",
      resul24: "",
      hal24: "",
      resul25: "",
      hal25: "",
      resul26: "",
      hal26: "",
      resul27: "",
      hal27: "",
      resul28: "",
      hal28: "",
      resul29: "",
      hal29: "",
      resul30: "",
      hal30: "",
      resul31: "",
      hal31: "",
      resul32: "",
      hal32: "",
      resul33: "",
      hal33: "",
      resul34: "",
      hal34: "",
      resul35: "",
      hal35: "",
      resul36: "",
      hal36: "",
      resul37: "",
      hal37: "",
      resul38: "",
      hal38: "",
      resul39: "",
      hal39: "",
      resul40: "",
      hal40: "",
      resul41: "",
      hal41: "",
      resul42: "",
      hal42: "",
      resul43: "",
      hal43: "",
      resul44: "",
      hal44: "",
      resul45: "",
      hal45: "",
      resul46: "",
      hal46: "",
      resul47: "",
      hal47: "",
      resul48: "",
      hal48: "",
      resul49: "",
      hal49: "",
      resul50: "",
      hal50: "",
      resul51: "",
      hal51: "",
      resul52: "",
      hal52: "",
      resul53: "",
      hal53: "",
      resul54: "",
      hal54: "",
      resul55: "",
      hal55: "",
    },
  }),
  mounted() {
    this.$emit("tablaOne", this.dataTabla);
  },
  computed: {
    // un getter computado
    reversedMessage: function () {
      // `this` apunta a la instancia vm
      return this.dataTabla.split("").reverse().join("");
    },
  },
};
</script>
