
  <template>
    <div>
  <v-data-table
    :headers="headers"
    hide-default-footer
    slot="no-data"
    class="elevation-1 col-md-12"
  >
    <template v-slot:body.prepend>
      <tr>
        <td class="text-xs-right">
          El equipo cuenta con datos de identificación
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">La información evidencia datos del equipo</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul2"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal2"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Los datos cumplen con los requerimientos normativos.
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul3"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal3"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Resistencia integral mínima a la rotura de 5000 Lb.
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul4"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal4"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Funcionabilidad del equipo.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul5"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal5"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Estado general del equipo.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul6"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal6"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Estado general del orificio de conexión.</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul7"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal7"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
    </template>
    <template v-slot:no-data></template>
  </v-data-table>
</div>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {
        text: "Descricion del criterio a inspeccionar",
        align: "start",
        sortable: false,
        value: "name",
      },
      { text: "Resultado" },
      { text: "Hallazgos" },
    ],
    dataTabla: {
      resul: "",
      hal: "",
      resul2: "",
      hal2: "",
      resul3: "",
      hal3: "",
      resul4: "",
      hal4: "",
      resul5: "",
      hal5: "",
      resul6: "",
      hal6: "",
      resul7: "",
      hal7: "",
    },
  }),
  mounted() {
    this.$emit("tablaOne", this.dataTabla);
  },
  computed: {
    // un getter computado
    reversedMessage: function () {
      // `this` apunta a la instancia vm
      return this.dataTabla.split("").reverse().join("");
    },
  },
};
</script>
