
  <template>
    <div>
  <v-data-table
    :headers="headers"
    hide-default-footer
    slot="no-data"
    class="elevation-1 col-md-12"
  >
    <template v-slot:body.prepend>
      <tr>
        <td class="text-xs-right">
          El absorbedor de energía cuenta con etiqueta de identificación
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          La etiqueta del absorbedor de energía evidencia sus datos
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul2"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal2"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Los datos de la etiqueta del absorbedor de energía cumplen con los
          requerimientos normativos
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul3"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal3"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Resistencia integral mínima a la rotura de 5000 Lb
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul4"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal4"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          La elongación máxima del equipo cumple con los criterios normativos
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul5"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal5"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          El equipo tiene la capacidad de reducir las fuerzas de impacto al
          cuerpo del trabajador, a máximo el 50% de la MFD equivalente a 900
          libras (4 KN - 408 Kg)
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul6"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal6"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Las fibras de las reatas e hilos de las costuras cumplen criterios
          normativos
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul7"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal7"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Los hilos de las costuras son de diferente color al de las correas
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul8"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal8"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Todos los conectores cumplen con la resistencia mínima a la rotura
        </td>
        <td>
          <v-select
            v-model="dataTabla.resul9"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal9"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Absorbedor de energía</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul10"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal10"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Ponchado de acople al absorbedor de energía
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul11"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal11"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Herrajes de unión de las líneas con el absorbedor de energía
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul12"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal12"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Sistema de apertura de doble de seguridad del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul13"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal13"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Sistema de cierra automático del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul14"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal14"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Criterios normativos de marcación del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul15"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal15"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Pasador del pestillo, cierre o gatillo del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul16"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal16"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Pestillo, cierre o gatillo del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul17"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal17"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Seguro de la nariz del conector “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul18"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal18"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Nariz del conector “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul19"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal19"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Eje principal del conector “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul20"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal20"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">
          Superficies ideales de trabajo del conector “A”
        </td>
        <td class="text-xs-right">
          <v-select
            v-model="dataTabla.resul21"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal21"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
      <tr>
        <td class="text-xs-right">Orificio de conexión del conector “A”</td>
        <td class="text-xs-right">
          <v-select
            v-model="datTabla.resul22"
            :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
            label="Resultado"
            outlined
            clearable
          ></v-select>
        </td>
        <td>
          <v-textarea
            auto-grow
            v-model="dataTabla.hal22"
            color="deep-purple"
            label="Hallazgo"
            rows="1"
          ></v-textarea>
        </td>
      </tr>
    </template>
    <template v-slot:no-data></template>
  </v-data-table>
</div>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {
        text: "Descricion del criterio a inspeccionar",
        align: "start",
        sortable: false,
        value: "name",
      },
      { text: "Resultado" },
      { text: "Hallazgos" },
    ],
    dataTabla: {
      resul: "",
      hal: "",
      resul2: "",
      hal2: "",
      resul3: "",
      hal3: "",
      resul4: "",
      hal4: "",
      resul5: "",
      hal5: "",
      resul6: "",
      hal6: "",
      resul7: "",
      hal7: "",
      resul8: "",
      hal8: "",
      resul9: "",
      hal9: "",
      resul10: "",
      hal10: "",
      resul11: "",
      hal11: "",
      resul12: "",
      hal12: "",
      resul13: "",
      hal13: "",
      resul14: "",
      hal14: "",
      resul15: "",
      hal15: "",
      resul16: "",
      hal16: "",
      resul17: "",
      hal17: "",
      resul18: "",
      hal18: "",
      resul19: "",
      hal19: "",
      resul20: "",
      hal20: "",
      resul21: "",
      hal21: "",
      resul22: "",
      hal22: "",
    },
  }),
  mounted(){
      this.$emit('tablaOne', this.dataTabla);
  },
  computed: {
   // un getter computado
   reversedMessage: function () {
     // `this` apunta a la instancia vm
     return this.dataTabla.split('').reverse().join('')
   }
}
};
</script>
