<template>
    <div>
      <template>
        <v-data-table :headers="headers"  hide-default-footer    slot="no-data" class="elevation-1 col-md-12">
            <template v-slot:body.prepend >
                <tr>
                  <td class="text-xs-right">El equipo cuenta con datos de identificación</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                     </td>
                  <td>
                    <v-textarea  auto-grow v-model="tabla.hal"  color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">La información evidencia datos del equipo</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul2"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow v-model="tabla.hal2" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Los datos cumplen con los requerimientos normativos</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul3"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow v-model="tabla.hal3" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Resistencia integral mínima a la rotura de 5000 Lb</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul4"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow v-model="tabla.hal4"  color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Funcionamiento del sistema de apertura de doble de seguridad</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul5"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow v-model="tabla.hal5"  color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Funcionamiento del sistema de cierra automático.</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul6"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow v-model="tabla.hal6" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Estado general del pasador del pestillo, cierre o gatillo.</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul7"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow v-model="tabla.hal7" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Estado general del pestillo, cierre o gatillo</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul8"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow  v-model="tabla.hal8" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Estado general del seguro de la nariz del conector.</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul9"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow  v-model="tabla.hal9" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Estado general de la nariz del conector.</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul10"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow  v-model="tabla.hal10" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Estado general del eje principal del conector.</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul11"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow  v-model="tabla.hal11" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Estado general de las superficies ideales de trabajo del conector.</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul12"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow v-model="tabla.hal12" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-xs-right">Estado general del orificio de conexión del conector.</td>
                  <td class="text-xs-right">
                    <v-select
                        v-model="tabla.resul13"
                        :items="['CUMPLE CRITERIO', 'NO CUMPLE', 'N/A']"
                        label="Resultado"
                        outlined  clearable
                      ></v-select>
                  </td>
                  <td>
                    <v-textarea auto-grow  v-model="tabla.hal13" color="deep-purple" label="Hallazgo" rows="1"></v-textarea>
                  </td>
                </tr>

            </template>
            <template  v-slot:no-data></template>

        </v-data-table>
      </template>
    </div>

</template>
<script>
  export default{

    data: () =>({
      headers: [
         {
           text: 'Descricion del criterio a inspeccionar',
           align: 'start',
           sortable: false,
           value: 'name',
         },
         { text: 'Resultado',  },
            { text: 'Hallazgos',  },
       ],
      tabla: {
        resul: "",
        hal: "",
        resul2: "",
        hal2: "",
        resul3: "",
        hal3: "",
        resul4: "",
        hal4: "",
        resul5: "",
        hal5: "",
        resul6: "",
        hal6: "",
        resul7: "",
        hal7: "",
        resul8: "",
        hal8: "",
        resul9: "",
        hal9: "",
        resul10: "",
        hal10: "",
        resul11: "",
        hal11: "",
        resul12: "",
        hal12: "",
        resul13: "",
        hal13: "",
      },
    }),
    mounted(){
        this.$emit('tablaOne', this.tabla);
    },
    computed: {
     // un getter computado
     reversedMessage: function () {
       // `this` apunta a la instancia vm
       return this.tabla.split('').reverse().join('')
     }
 }


  }
</script>
