<template>
  <!--Footer-->
  <div>
    <v-dialog v-model="modal" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5">
          Desarrollador:
        </v-card-title>
        <v-card-text>
          <ul>
            <li>Freiman Norvey Uribe Ruiz.</li>
            <li>freimanuribe15@gmail.com</li>
          </ul>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="modal = false">
            Aceptar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-footer dark padless style="border-bottom-left-radius: 50px">
    <v-card class="flex" flat tyle="border-bottom-left-radius: 70px !important">
      <v-container class="mt-5">
        <v-row justify="center">
          <v-col cols="12" class="d-flex flex-column justify-center align-center">
            <p class="font-weight-light text-h6">
              Todos los derechos reservados<span> - <a @click="modal = true" style="color: white;
    text-decoration: auto;">SAMS</a></span>
            </p>
          </v-col>
          <v-col class="d-flex flex-column justify-center align-center">
            <v-row>
              <p class="mr-2 mt-2">{{ new Date().getFullYear() }} - Vuetify</p>
              <p>
                <v-btn v-for="(i, index) in icons" v-bind:key="index" :href="i.url" dark icon>
                  <span class="text-left">
                    <v-icon size="24px">
                      {{ i.icon }}
                    </v-icon>
                  </span>
                </v-btn>
              </p>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-footer>
  </div>
  
  <!--Footer/-->
</template>
<style scoped>
  .theme--dark.v-card {
    background-color: #1e1e1e00 !important;
  }
</style>
<script>
  export default {
    name: "Footer",
    data: () => ({
      modal: false,
      icons: [{
          icon: "mdi-facebook",
          url: "https://www.facebook.com/pg/preventionworld.qhsesas"
        },
        {
          icon: "mdi-twitter",
          url: "https://twitter.com/pwqhse?lang=es"
        },
        // {icon:"mdi-linkedin", url:""}, 
        {
          icon: "mdi-instagram",
          url: "https://www.instagram.com/preventionworldqhsesas/"
        }
      ], // iconos
    }),
  };
</script>