<template>
      <div>

        <v-dialog v-model="mostrar" fullscreen hide-overlay transition="dialog-bottom-transition">
              <v-card>
                <v-toolbar color="primary" dark>
                    <v-card-title>
                        <span class="text-h5">CERTIFICADO</span>
                    </v-card-title>
                    <v-spacer></v-spacer>
                    <v-btn icon dark   @click="cerra">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-list three-line subheader class="pt-8">
                    <v-container>
                      <v-form ref="from" v-model="mostrar" lazy-validation>
                          <v-container>
                              <v-row>
                                  <v-col cols="12" md="6">
                                      <v-text-field v-model="codigo"
                                          prepend-inner-icon="mdi-format-list-bulleted-type" label="codigo interno" outlined
                                          clearable>
                                      </v-text-field>
                                  </v-col>

                                  <v-col cols="12" md="6">
                                      <v-text-field v-model="equipo"
                                          prepend-inner-icon="mdi-code-not-equal"   type="text" label="Equipo Inspeccionado" outlined
                                          clearable>
                                      </v-text-field>
                                  </v-col>
                                  <v-col cols="12" md="6">
                                      <v-text-field v-model="serial"
                                          prepend-inner-icon="mdi-gradient"   type="text" label="Serial" outlined
                                          clearable>
                                      </v-text-field>
                                  </v-col>
                                  <v-col cols="12" md="6">
                                      <v-text-field v-model="fechaFabri"
                                          prepend-inner-icon="mdi-calendar-today"   type="date" label="Fecha Fabricacion" outlined
                                          clearable>
                                      </v-text-field>
                                  </v-col>
                                  <v-col cols="12" md="6">
                                      <v-autocomplete v-model="marca"
                                          :items="marcas"
                                          item-text="nombre" item-value="Uid"
                                          prepend-inner-icon="mdi-alert-box" label="Marca*"
                                          outlined clearable required>
                                      </v-autocomplete>
                                  </v-col>

                                <v-col cols="12" md="6">
                                    <v-text-field v-model="cumple"
                                        prepend-inner-icon="mdi-gradient"    label="Cumple normas de Fabricacion" outlined
                                        clearable>
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field v-model="fechaInspe"
                                        prepend-inner-icon="mdi-calendar-today"   type="date" label="Fecha de inspeccion" outlined
                                        clearable>
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field v-model="validez"
                                        prepend-inner-icon="mdi-format-list-bulleted-type"    label="Validez de la inspeccion" outlined
                                        clearable>
                                    </v-text-field>
                                </v-col>
                                <v-col cols="6" md="6">

                                <div id="signature" style = "width: 100%; height: 300px;"> </div>
                                    <v-btn color="success" class="m-4" id="clearSignature" @click="clearSignature" > Borrar firma </v-btn>
                                    <v-btn color="primary" id="saveSignature" @click="saveSignature"> ok </v-btn>
                                </v-col>
                                <img id="result" />


                          </v-row>
                          <v-divider></v-divider>
                          <v-card-actions >
                              <v-spacer></v-spacer>
                              <v-btn color="error" class="mr-4" @click="cerra">
                                  Cancelar
                              </v-btn>
                              <v-btn   :disabled="!mostrar" color="success" class="mr-4"  @click="guardar">
                                  Guardar
                              </v-btn>
                          </v-card-actions>
                          </v-container>

                      </v-form>
                    </v-container>
                </v-list>

              </v-card>
        </v-dialog>

      </div>
</template>
  <style>
      .data{
        display:none;
      }
   </style>
<script>
import axios from 'axios';
import Swal from 'sweetalert2';
import { mapState, mapActions } from "vuex";
import'jq-signature';// También se puede importar en el archivo js de entrada main.js, por lo que no es necesario importarlo aquí



  export default{
    props:['show', 'marcas', 'lista'],
    name: "Certificado",

    data: () =>({
      url_api: process.env.VUE_APP_URL_API,
      mostrar: false,
      marca:'',
      codigo:'',
      equipo:'',
      serial: '',
      fechaFabri:'',
      cumple:'',
      fechaInspe: '',
      validez: '',
      usu : '',
      name: 'MySignaturePad',
      firma:'',
      foto:'',
    }),
    computed:{
      ...mapState(["token", "usuario"]),

    },
    created(){
      this.mostrar = this.show;
      this.validar();
      this.usu = JSON.parse(this.usuario);
    },
    mounted(){
    this.$('#signature').jqSignature({
             ancho: '300', // ancho del lienzo, valor predeterminado 300
             height: '200', // altura del lienzo, valor predeterminado 100
             borde: '1px sólido # ff6700', // borde del lienzo, el valor predeterminado es '1px rojo sólido'
             background: '# ddd', // fondo del lienzo, valor predeterminado '# ffffff'
             lineColor: "# 0A4D82", // Color de la línea de la firma, el valor predeterminado es '# 222222'
             lineWidth: 3, // Ancho de la línea de la firma, valor predeterminado 1
             autoFit: true // Hace que el ancho del lienzo llene el elemento principal, el valor predeterminado es falso
    })
  },

    methods:{
      ...mapActions(['cerrarSesion']),
      /////////
      clearSignature(){
            event.preventDefault()
            console.log("firmaaaa");
            this.$('#resultado').html(''); // Borrar vista previa img
            this.$('#signature').jqSignature('clearCanvas'); // lienzo claro
          },
   saveSignature(){
    event.preventDefault()
    let signatureBox = this.$('#signature');
    let canvas = signatureBox.children('canvas').eq(0)[0]
           let data = signatureBox.jqSignature ("getDataURL"); // datos base64
           // Crea un lienzo vacío y determina si el lienzo está vacío
    var blankCanvas = document.createElement('canvas');
    blankCanvas.width = canvas.width;
    blankCanvas.height = canvas.height;
    if(blankCanvas.toDataURL() == canvas.toDataURL()){
               alert ('Por favor firme')
      return;
    }


    // Para resolver el problema de la modificación no válida de la dirección src de la etiqueta img en el dispositivo ios, se vuelve a crear una etiqueta img de vista previa cada vez que guarda, y cuando borra la firma, elimine la etiqueta img
    let img = new Image();
    console.log(img);
    img.src = data;
    this.firma = img.src;

    // console.log(this.firma);
    // this.photo_file(this.firma)
    img.onload = (e)=>{
      console.log("entro");
      this.$('#result').append(img)

      console.log(e);
      console.log(img);

    }
    // img.onerror = (e)=>{
    //    console.log ('Error de vista previa')
    //    console.log(e);
    // }
  },

      // /////////
      photo_file(event) {
        console.log(event);
          let file = event.target.files;
          this.foto = file;
          console.log("entroo");
          console.log(event);
        },
      validar(){
          if(this.lista){
            this.marca = this.lista.Uid_marca;
            this.codigo = this.lista.codigo;
            this.fechaFabri = this.lista.fechaFabricacion;
            this.serial = this.lista.serial;
            this.equipo = this.lista.descripcion;

          }
      },
      cerra(){
            this.mostrar = false,
            this.$emit('escuchar2', null, this.mostrar);
      },
      async guardar(){
          let data = new FormData();
          data.append('codigo', this.codigo);
          data.append('equipo', this.equipo);
          data.append('serial', this.serial);
          data.append('fechaFabri', this.fechaFabri);
          data.append('marca', this.marca);
          data.append('cumple', this.cumple);
          data.append('fechaInspe', this.fechaInspe);
          data.append('validez', this.validez);
          data.append('usuario', this.usu.usuario);
          data.append('itemId', this.lista.Uid);
          data.append('firma', this.firma);
          try {
            await axios.post(`${this.url_api}/certificado`,data, {
                    headers: {
                        'Accept': 'application/json',
                        "auth-token": this.token
                    }
                })
                .then(res=> {return res})
                .catch(error => console.log(error))
                .then(response => {
                   if(response.data.body == 'exito'){
                     Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: '¡Certificacion realizada correctamente!',
                       showConfirmButton: false,
                       timer: 1500
                     });
                     this.cerra();
                   }
                   else{
                     Swal.fire({
                       position: 'top-end',
                       icon: 'warning',
                       title: '¡UPS Ocurrio un error!',
                       showConfirmButton: false,
                       timer: 1500
                     });
                   }
              })
          }catch(err){
            console.log(err);
          }


      }
    }
  }

</script>
