<template>
  <div class="home mt-3">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <v-snackbar
      v-model="alerta"
      :color="colorAlerta"
      right
      top
      :timeout="timeout"
    >
      {{ textoAlerta }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="alerta = false"> Cerrar </v-btn>
      </template>
    </v-snackbar>
    <!-- fin alerta CRUD -->
              <v-card>
                <v-toolbar  dark>

                <v-card-title>Formulario Inspección</v-card-title>
                <v-spacer></v-spacer>
                <v-btn icon dark   @click="cerra">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-toolbar>

                <v-container>
                  <v-form ref="from" v-model="valid" lazy-validation  enctype="multipart/form-data">
                      <v-container>
                          <v-row>
                            <!-- FORMULARIO PREGUNTAS   -->
                            <v-col cols="12" md="6">
                                <v-text-field v-model="values.equipo"
                                    prepend-inner-icon="mdi-calendar-today"    label="Equipo" outlined
                                    clearable>
                                </v-text-field>
                            </v-col>
                              <v-col cols="12" md="6">
                                <v-autocomplete
                                  v-model="values.marca"
                                  :items="marcas"
                                  item-text="nombre"
                                  item-value="Uid"
                                  prepend-inner-icon="mdi-alert-box"
                                  label="Marca*"
                                  outlined
                                  clearable
                                  required
                                >
                                </v-autocomplete>
                              </v-col>

                              <v-col cols="12" md="6">
                                  <v-text-field v-model="values.fechaIns" :rules="fechaInpeccionRules"
                                      prepend-inner-icon="mdi-calendar-today"   type="date" label="Fecha inspeccion" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>

                              <v-col cols="12" md="6">
                                  <v-subheader style="height:20px">
                                      <v-icon>mdi-calendar-alert</v-icon> Vida Util
                                  </v-subheader>
                                  <v-slider v-model="values.vidaUt" min="0" max="50"
                                      thumb-label="always">
                                  </v-slider>
                              </v-col>
                              <v-col cols="12" md="6">
                                  <v-text-field v-model="values.unico"
                                      prepend-inner-icon="mdi-sticker-alert" label="#Unico" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.modelo"
                                    prepend-inner-icon="mdi-sticker-alert" label="Modelo" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.lote"
                                    prepend-inner-icon="mdi-sticker-alert" label="Lote" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.referencia" :rules="referenciaRules"
                                    prepend-inner-icon="mdi-sticker-alert" label="Referencia" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                  <v-text-field v-model="values.fechaFa"
                                      prepend-inner-icon="mdi-calendar-today"   type="date" label="Fecha Fabricación" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                  <v-text-field v-model="values.compra"
                                      prepend-inner-icon="mdi-calendar-today"   type="date" label="Fecha Compra" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <div>


                              </div>
                              <v-col>
                                <v-select
                                    v-model="values.validaPues"
                                    :items="['SI', 'NO']"
                                    label=" ¿Tiene fecha de puesta en uso?"
                                    outlined  clearable
                                  ></v-select>
                              </v-col>
                              <v-col cols="12" md="6"  v-if="(values.validaPues=='SI')">
                                  <v-text-field v-model="values.puestaUso"
                                      prepend-inner-icon="mdi-calendar-today"   type="date" label="Fecha puesta en uso" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                  <v-text-field v-model="values.codigointe"
                                      prepend-inner-icon="mdi-sticker-alert" type="text" label="Codigo Interno" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                  <v-autocomplete v-model="values.prove"
                                       :items="proveedores"
                                      item-text="nombre" item-value="Uid"
                                      prepend-inner-icon="mdi-truck-delivery" label="Proveedor*"
                                      outlined clearable required>
                                  </v-autocomplete>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.propietario"
                                    :rules="propietarioRules"
                                    prepend-inner-icon="mdi-betamax" label="Propietario" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6">
                                  <v-autocomplete @change="listarMunicipio()" v-model="values.departamento"
                                      :items="departamentos"     :rules="departamentoRules"
                                      item-text="nombre" item-value="Uid" prepend-inner-icon="mdi-city"
                                      label="Deparmento*" outlined required>
                                  </v-autocomplete>
                              </v-col>
                              <v-col cols="12" sm="6">
                                  <v-autocomplete v-model="values.municipio" :items="municipios"
                                       item-value="Uid" :rules="municipioRules"
                                      prepend-inner-icon="mdi-home-modern" item-text="nombre"
                                      label="Municipio*" outlined required>
                                  </v-autocomplete>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.frenteTraba" :rules="frenteRules"
                                    prepend-inner-icon="mdi-sticker-alert" label="Frente de trabajo" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col v-if="tipoEquipo==144 || tipoEquipo==145 || tipoEquipo==142 || tipoEquipo==143 || tipoEquipo==146" cols="12" md="6">
                                <v-select
                                    v-model="values.clasi"
                                    :items="['Gancho', 'Mosquetón']"
                                    label="Clasificaciòn"
                                    outlined  clearable
                                  ></v-select>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-select
                                    v-model="values.apertura"  :rules="aperturaRules"
                                    :items="['20mm','25mm', '45mm', '110mm']"
                                    label="Apertura"

                                    multiple
                                    solo
                                    outlined  clearable
                                  ></v-select>
                              </v-col>

                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.resistencia" :rules="resistenciaRules"
                                    prepend-inner-icon="mdi-sticker-alert" label="Resistencia" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.usoActual" :rules="usoActualRules"
                                    prepend-inner-icon="mdi-betamax" label="Uso actual del equipo" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.cumpleStan" :rules="cumpleStanRules"
                                    prepend-inner-icon="mdi-sticker-alert" label="Cumple estandar" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-select
                                    v-model="values.mantenimiento"
                                    :rules="mantenimientoRules"
                                    :items="['Si', 'No']"
                                    label="Mantenimiento "
                                    outlined  clearable
                                  ></v-select>
                              </v-col>
                              <v-col cols="12" md="6">
                                  <v-text-field v-model="values.proximaInpeccion" :rules="proximaRules"
                                      prepend-inner-icon="mdi-calendar-today"   type="date" label="Proxima Inspección" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <!-- ///campos para  Estructural o tripode  -->
                              <v-col cols="12" md="6" v-if="tipoEquipo==190 || tipoEquipo == 93">
                                <v-select
                                    v-model="values.material"
                                    :items="['Acero', 'Acero Inoxidable', 'Aluminio']"
                                    label="Materia de construcción"
                                    chips

                                    multiple
                                    solo
                                  ></v-select>
                              </v-col>
                              <v-col cols="12" md="6" v-if="tipoEquipo==190 || tipoEquipo == 93">
                                  <v-text-field v-model="values.cargaPermitida"
                                      prepend-inner-icon="mdi-calendar-today"  label="Capacidad de carga permitida" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6"  v-if="tipoEquipo==190 || tipoEquipo == 93">
                                  <v-text-field v-model="values.peso"
                                      prepend-inner-icon="mdi-calendar-today"  label="Peso" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6" v-if="tipoEquipo==190 || tipoEquipo == 93">
                                  <v-text-field v-model="values.cargaRotura"
                                      prepend-inner-icon="mdi-calendar-today"  label="Carga a la Rotura" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6" v-if="tipoEquipo==190 || tipoEquipo == 93">
                                  <v-text-field v-model="values.patasExtendidas"
                                      prepend-inner-icon="mdi-calendar-today"  label="Patas completamente extendidas" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6"  v-if="tipoEquipo==190 || tipoEquipo == 93">
                                  <v-text-field v-model="values.patasRetraidas"
                                      prepend-inner-icon="mdi-calendar-today"  label="Patas completamente Retraidas" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <!--///campos fin esctructuras -->


                              <!-- aqui va campos   DESENCEDORES OCHO //////////////////////// -->

                                  <v-col cols="12" md="6"  v-if="tipoEquipo==75 || tipoEquipo==71 || tipoEquipo==72 || tipoEquipo==73 || tipoEquipo==74 || tipoEquipo==76">
                                      <v-text-field v-model="values.diametroCuerda"
                                          prepend-inner-icon="mdi-align-horizontal-left" label="Diametro de cuerda" outlined
                                          clearable>
                                      </v-text-field>
                                    </v-col>
                              <!--hasta aqui va estos campos  /////////////////-->
                              <v-col cols="12" md="6" v-if="tipoEquipo == 45 || tipoEquipo == 46 || tipoEquipo == 47 || tipoEquipo == 48 || tipoEquipo == 49
                                || tipoEquipo == 50 || tipoEquipo == 51 || tipoEquipo == 52|| tipoEquipo == 53|| tipoEquipo == 54 || tipoEquipo == 55 || tipoEquipo == 56 || tipoEquipo == 57
                                || tipoEquipo == 58 || tipoEquipo == 59 ">
                                  <v-text-field v-model="values.logintud"
                                      prepend-inner-icon="mdi-align-horizontal-left" label="Longitud" outlined
                                      clearable>
                                  </v-text-field>
                                </v-col>
                                <v-col cols="12" md="6"  v-if=" tipoEquipo == 50 || tipoEquipo == 51 || tipoEquipo == 52|| tipoEquipo == 53|| tipoEquipo == 54 || tipoEquipo == 55 || tipoEquipo == 56 || tipoEquipo == 57
                                  || tipoEquipo == 58 || tipoEquipo == 59 ">
                                    <v-text-field v-model="values.ancho"
                                        prepend-inner-icon="mdi-align-horizontal-left" label="Ancho" outlined
                                        clearable>
                                    </v-text-field>
                                  </v-col>

                              <!-- datos tambien para formulario -->

                              <v-col cols="12" md="6" v-if=" tipoEquipo==190 || tipoEquipo==93 || tipoEquipo == 45 || tipoEquipo == 46 || tipoEquipo == 47 || tipoEquipo == 48 || tipoEquipo == 49">
                                  <v-text-field v-model="values.materialConstru"
                                      prepend-inner-icon="mdi-align-horizontal-left" label="Material de construcción" outlined
                                      clearable>
                                  </v-text-field>
                                </v-col>
                                <v-col cols="12" md="6" v-if="tipoEquipo == 45 || tipoEquipo == 46 || tipoEquipo == 47 || tipoEquipo == 48 || tipoEquipo == 49">
                                    <v-text-field v-model="values.otroMaterial"
                                        prepend-inner-icon="mdi-align-horizontal-left" label="Otro tipo de material" outlined
                                        clearable>
                                    </v-text-field>
                                  </v-col>

                                <!-- datos tambien para formulario casco -->


                              <v-col cols="12" v-if="(values.mantenimiento=='Si')">
                                  <v-textarea
                                    prepend-inner-icon="mdi-format-list-bulleted"
                                    label="Descripcion Mantenimiento"
                                    v-model="values.descripcionM" auto-grow rows="10" row-height="15"
                                    outlined clearable>
                                  </v-textarea>
                              </v-col>
                              <!-- campos para formulario de arneses son necesarios -->

                              <div  v-if="tipoEquipo==16 || tipoEquipo==17 || tipoEquipo==18 || tipoEquipo==19 || tipoEquipo==20 || tipoEquipo==21">
                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.capacida"
                                    prepend-inner-icon="mdi-betamax" label="Capacidad Estructural" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-text-field v-model="values.puntosAnclaje"
                                    prepend-inner-icon="mdi-align-horizontal-left" label="Puntos de Anclaje" outlined
                                    clearable>
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                  <v-text-field v-model="values.resistenciaAnclaje"
                                      prepend-inner-icon="mdi-align-horizontal-left" label="Resistencia Puntos Anclaje" outlined
                                      clearable>
                                  </v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                  <v-text-field v-model="values.talla"
                                      prepend-inner-icon="mdi-align-horizontal-left" label="Talla" outlined
                                      clearable>
                                  </v-text-field>
                                </v-col>
                            </div>
                              <!--fin de estos campos  -->



                              <!-- ///////Aqui campos para eslingas  ////// -->.
                            <v-row v-if="tipoEquipo==1 || tipoEquipo==86 || tipoEquipo == 87 || tipoEquipo == 88 || tipoEquipo == 89 || tipoEquipo == 90 || tipoEquipo == 91" >
                              <v-col cols="12" md="6">
                                  <v-text-field v-model="values.logintud"
                                      prepend-inner-icon="mdi-align-horizontal-left" label="Longitud" outlined
                                      clearable>
                                  </v-text-field>
                                </v-col>
                              <!--  <v-col cols="12" md="6">
                                  <v-select
                                      v-model="values.tipoEslinga"
                                      :items="['Restricción', 'Posicionamiento']"
                                      label="Tipo eslingas"
                                      outlined  clearable
                                    ></v-select>
                                </v-col> -->
                                <v-col cols="12" md="6">
                                  <v-select
                                      v-model="values.clasifiEslinga"
                                      :items="['Doble', 'Sencilla']"
                                      label="Clasificaciòn"
                                      outlined  clearable
                                    ></v-select>
                                </v-col>
                                <v-col cols="12" md="6">
                                    <v-text-field v-model="values.numeroConectores"
                                        prepend-inner-icon="mdi-align-horizontal-left" label="Numero de conectores" outlined
                                        clearable>
                                    </v-text-field>
                                  </v-col>
                                  <v-col cols="12" md="6">
                                    <v-select
                                        v-model="values.dielectrica"
                                        :items="['Si', 'No']"
                                        label="Dielectrica"
                                        outlined  clearable
                                      ></v-select>
                                  </v-col>

                                  <v-col cols="12" md="6">
                                    <v-select
                                      v-model="values.material"
                                      :items="['Cuerda','Reata', 'Cable', 'Resortada', 'Tubular']"
                                      chips
                                      label="Chips"
                                      multiple
                                      solo
                                    ></v-select>
                                  </v-col>
                            </v-row>
                              <!-- ///////fin de campos para eslingas  ////// -->






                              <!-- FORMULARIO PREGUNTAS PARA MOSQUETON Y GANCHO  ////////////////// HOLA MUNDOOOOO  MADE LORENZO SANCHEZ RAMIREZ NEIVA-HUILA DESARROLLADOR ////////////////////-->
                            <v-col cols="12" >

                              <div v-if="tipoEquipo==144 || tipoEquipo==145 || tipoEquipo==142 || tipoEquipo==143 || tipoEquipo==146">
                                <Tabla @tablaOne="tablaOne" />
                              </div>
                              <div v-if="tipoEquipo==16 || tipoEquipo==17 || tipoEquipo==18 || tipoEquipo==19 || tipoEquipo==20 || tipoEquipo==21">
                                  <TablaArneses @tablaOne="tablaOne"/>
                              </div>
                              <div v-if="tipoEquipo==3">
                                  <If51  @tablaOne="tablaOne"/>
                              </div>
                              <div v-if="tipoEquipo==75 || tipoEquipo==148">
                                  <If49  @tablaOne="tablaOne"/>
                              </div>
                              <div v-if=" tipoEquipo==86 ||tipoEquipo == 88 || tipoEquipo == 89 || tipoEquipo == 91">
                                <If45  @tablaOne="tablaOne"/>
                              </div>
                              <div v-if="tipoEquipo==1 || tipoEquipo == 87 ||  tipoEquipo == 90">
                                <If44  @tablaOne="tablaOne"/>
                              </div>
                              <div v-if="tipoEquipo == 45 || tipoEquipo == 46 || tipoEquipo == 47 || tipoEquipo == 48 || tipoEquipo == 49">
                                <If43 @tablaOne="tablaOne" />
                              </div>
                              <div v-if="tipoEquipo == 50 || tipoEquipo == 51 || tipoEquipo == 52|| tipoEquipo == 53|| tipoEquipo == 54 || tipoEquipo == 55 || tipoEquipo == 56 || tipoEquipo == 57 || tipoEquipo == 58 || tipoEquipo == 59 ">
                                <If42 @tablaOne="tablaOne" />
                              </div>
                              <div v-if="tipoEquipo==75 || tipoEquipo==71 || tipoEquipo==73 || tipoEquipo==74 || tipoEquipo==76">
                                <If34 @tablaOne="tablaOne"/>
                              </div>
                              <div v-if="tipoEquipo==72">
                                  <If30 @tablaOne="tablaOne" />
                              </div>
                              <div v-if="tipoEquipo==190 || tipoEquipo == 93">
                                  <If28 @tablaOne="tablaOne" />
                              </div>
                            </v-col>
                          <v-col cols="12" >

                          <v-textarea
                            prepend-inner-icon="mdi-format-list-bulleted"
                            label="Otras observaciones" :rules="otraObsRules"
                            v-model="values.otraObs" auto-grow rows="10" row-height="15"
                            outlined clearable>
                          </v-textarea>
                        </v-col>
                        <v-col cols="12" md="12">
                          <v-select
                              v-model="values.resultado"
                              :items="['CUMPLE CRITERIO', 'NO CUMPLE CRITERIO','NO APLICA CRITERIO']"
                              label="Resultado"
                                :rules="resultadoRules"
                              outlined  clearable
                            ></v-select>
                        </v-col>
                        <v-col cols="12" md="12">
                        <v-textarea
                          prepend-inner-icon="mdi-format-list-bulleted"
                          label="Observaciones y/o recomendaciones" :rules="recomendacionRules"
                          v-model="values.recomendacion" auto-grow rows="10" row-height="15"
                          outlined clearable>
                        </v-textarea>
                      </v-col>
                      <v-col cols="12" md="12">
                        <v-select
                            v-model="values.continuar"

                            :items="['SI', 'NO']" :rules="continuaRules"
                            label="¿Con base en los hallazgos identificados el equipo puede continuar en uso?: "
                            outlined  clearable
                          ></v-select>
                      </v-col>
                      <v-col cols="4">
                        <v-label htmlFor="activa" :rules="imageRules">
                          <div v-if="image==''" >
                            <span class="material-icons camera"  style="  font-size: 120px"  >
                              camera_alt
                            </span>
                          </div>
                          <div v-else>
                                <img with="100px" :src="imagen" height="100px" />
                        </div>
                          <input type="file" class="data" @change="photo_file" id="activa" name="file" accept="image/*"/>
                        </v-label>
                        <v-label> Imagen general</v-label>
                      </v-col>
                      <v-col cols="4">
                        <v-label htmlFor="activa">
                          <div v-if="imageE==''" >
                            <span class="material-icons camera"  style="  font-size: 120px"  >
                              camera_alt
                            </span>
                          </div>
                          <div v-else>
                                <img with="100px" :src="imagen2" height="100px" />
                          </div>
                          <input type="file" class="data" @change="photo_file2" id="activa" name="file2" accept="image/*"/>
                        </v-label>
                        <v-label> Imagen general</v-label>
                      </v-col>
                      <v-col cols="4">
                        <v-label htmlFor="activa">
                          <div v-if="imageB==''" >
                            <span class="material-icons camera"  style="  font-size: 120px"  >
                              camera_alt
                            </span>
                          </div>
                          <div v-else>
                                <img with="100px" :src="imagen3" height="100px" />
                          </div>
                          <input type="file" class="data" @change="photo_file3" id="activa" name="file3" accept="image/*"/>
                        </v-label>
                        <v-label> Imagen general</v-label>
                      </v-col>
                      </v-row>
                      <v-divider></v-divider>

                      <v-card-actions >
                          <v-spacer></v-spacer>
                          <v-btn color="error" class="mr-4" @click="cerra">
                              Cancelar
                          </v-btn>
                          <v-btn color="success" class="mr-4"  @click="guardar">
                              Guardar
                          </v-btn>
                      </v-card-actions>
                      </v-container>

                  </v-form>
                </v-container>
              </v-card>

  </div>
</template>
<style>
.data {
  display: none;
}
.camera {
  font-size: 120px;
}
</style>
<script>
import { mapState, mapActions } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
import Tabla from './Tablas/tablaPrueba';
import TablaArneses from './Tablas/Tabla_arneses';
import If51 from './Tablas/If51';  ///if51
import If49 from './Tablas/If49';
import If45 from './Tablas/If45';
import If44 from './Tablas/If44';
import If43 from './Tablas/If43';
import If42 from './Tablas/If42';
import If34 from './Tablas/If34';
import If30 from './Tablas/If30';
import If28 from './Tablas/If28';



export default {
  name: "Formulario",
  props: ["show", "showForm", "proveedores", "marcas", "lista"],
  components: { // definicion de componentes
    Tabla,
    TablaArneses,
    If51, // todavia no esta en uso
    If49, /// desendedores 8
    If45, /// eslingas
    If44, /// eslingas 2
    If43, /// inspeccion de cascos
    If42, /// inspeccion cintas
    If34, ///inspeccion desendedores ID
    If30, /// isnpeccion desendedores D4
    If28, /// tripode
  },
  data: () => ({
    url_api: process.env.VUE_APP_URL_API,
    mostrar: false,
    estado: 1,
    /// variables de alerta
    alerta: false,
    textoAlerta: "",
    colorAlerta: "",
    timeout: 2000,
    search: "",
    //// variable formulario
    values:{
      proximaInpeccion: '',
      idUnico:null,
      equipo: '',//---
      marca: 0,//--
      vidaUt: '',
      fechaIns: '', // FECHA DE INSPECCION
      unico: '', /// #UNICO siempre N/A
      modelo: '',
      lote: '',
      referencia: '',
      fechaFa:'',
      compra: '',
      puestaUso: '',
      codigointe: '',
      prove: 0,
      propietario: "",
      departamento: "",
      municipio: "",
      frenteTraba: "",
      clasi: "", /// clasificacion gancho o mosqueton
      apertura: "",
      resistencia: "",
      usoActual: "",
      cumpleStan: "",
      otrosDato: "",
      mantenimiento: "", /// si o no?  si == se habilitaria la descripcion
      descripcionM: "",
      otraObs: "",
      resultado: "", /// cumple o no cumple los criterios
      recomendacion: "",
      usar: "", ///si o no???
      usu: "",
      continuar: "",
      /////////////// varibles para tipo Arneses
      capacida:'',
      puntosAnclaje:'',
      resistenciaAnclaje:'',
      talla:'',
      ///////// fin datos para arneses
      diametroCuerda:'', /// variable para desendedores ocho
      /////////////// variables para eslingas
      dielectrica:'',
      longitud:'',
      ancho:'', /// esta varible es para la inspeccion cintas o cuerdas
      tipoEslinga:'',
      clasifiEslinga:'',
      numeroConectores:'',
      aperturaEslinga:'',
      material:[],
      ///////////// fin de datos eslingas
      materialConstru:'',
      otroMaterial:'',
      //////  Datos o variables para tripodes
      cargaPermitida:'',
      peso:'',
      cargaRotura:'',
      patasExtendidas:'',
      patasRetraidas:'',
      validaPues:'',
    },
    departamentos: [],
    municipios: [],
    image: [], ///imagen 1
    imageE: [], // imagen 2
    imageB: [], // imagen 2

    url: [],
    urlE: [],
    tablaUno:{},
    //// validaciones  .-. de modales
    modal: true,
    ///validaciones de campos
    data: {
      user: "",
      pass: "",
    },
     filtraMarca:[],
     ////////////// variables para cargar imagen y mostrar
     prueba: '',
     prueba2: '',
      prueba3: '',
      //////////////////
     valid:true,
     tipoEquipo: '',

     //// validaciones de campos obligatorios
     fechaInpeccionRules: [
         v => !!v || 'Fecha de inspección es requerida',
     ],
     propietarioRules: [
         v => !!v || 'El propietario es requerido',
     ],
     departamentoRules: [
         v => !!v || 'El departamento es requerido',
     ],
     municipioRules: [
         v => !!v || 'El departamento es requerido',
     ],
     clasificacionRules: [
       v => !!v || 'La clasificacion es requerido',
     ],
     proximaRules :[
       v => !!v || 'Es requerida proxima fecha',
     ],
     resultadoRules :[
       v => !!v || 'Resultado es requerido',
     ],
     continuaRules : [
      v => !!v || 'Campo es obligatorio',
    ],
    referenciaRules :[
      v => !!v || 'Campo es obligatorio',
    ],
    frenteRules :[
      v => !!v || 'Campo es obligatorio',
    ],
    aperturaRules:[
      v => !!v || 'Campo es obligatorio',
    ],
    resistenciaRules :[
      v => !!v || 'Campo es obligatorio',
    ],
    usoActualRules:[
      v => !!v || 'Campo es obligatorio',
    ],
    cumpleStanRules:[
      v => !!v || 'Campo es obligatorio',
    ],
    mantenimientoRules:[
      v => !!v || 'Campo es obligatorio',
    ],
    otraObsRules: [
      v => !!v || 'Campo es obligatorio',
    ],
    recomendacionRules:[
      v => !!v || 'Campo es obligatorio',
    ],
    imageRules:[
      v => !!v || 'Campo es obligatorio',
    ]
  }),

  computed: {
    ...mapState(["token", "usuario"]),
    ///////// estas computed toman inmediatamente la foto subida y la envian para mostar
    imagen() {
      return this.prueba;
    },
    imagen2() {
      return this.prueba2;
    },
    imagen3() {
      return this.prueba3;
    },
    /////////////////
  },
  created() {
    this.usu = JSON.parse(this.usuario);
    this.mostrar = this.show;
    this.tipoEquipo = this.lista.Uid_tipoEquipo
    this.listarDepartamento();
    this.validar();
    this.tablaOne();
    // this.tablaTwo();
  },

  methods: {
    ...mapActions(["cerrarSesion"]),
    /// cerra modal de formulario comunicacion con componente equipo
    cerra() {
      (this.mostrar = false), this.$emit("escuchar", null, 1);
    },
    photo_file(event) {
      let file = event.target.files[0];
      this.image = file;
      this.cargar(file);
    },
    photo_file2(event) {
      let file = event.target.files[0];
      this.imageE = file;
      this.cargar2(file);
    },
    photo_file3(event) {
      let file = event.target.files[0];
      this.imageB = file;
      this.cargar3(file);
      console.log(this.imageB);
    },
    cargar(file) {
      let reader = new FileReader();
      reader.onload = (e) => {
        this.prueba = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    cargar2(file) {
      let reader = new FileReader();
      reader.onload = (e) => {
        this.prueba2 = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    cargar3(file) {
      let reader = new FileReader();
      reader.onload = (e) => {
        this.prueba3 = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    tablaOne(data){ // esta funcion se encarga de traer datos de las tablas dependiendo de cual este en uso
      this.tablaUno = data;

    },
    // tablaOne(data){
    //   this.tablaUno = data;    ///finaliza
    // },
    ///validacion de datos de datos
    validar(){
      if(this.lista){
          this.values.equipo = this.lista.descripcion;
          this.values.marca = this.lista.Uid_marca;
          this.values.vidaUt = this.lista.vidaUtil;
          this.values.modelo = this.lista.modelo;
          this.values.lote = this.lista.lote;
          this.values.fechaFa = this.lista.fechaFabricacion;
          this.values.compra = this.lista.fechaCompra;
          this.values.puestaUso = this.lista.fechaUso;
          this.values.codigointe = this.lista.codigo;
          this.values.prove = this.lista.Uid_proveedor;
          this.values.unico = this.lista.serial;
      }
    },
    /// listado de departamentos
    async listarDepartamento() {
      try {
        await fetch(`${this.url_api}/departamento`, {
          headers: {
            "Content-Type": "application/json",
            "auth-token": this.token,
          },
        })
          .then((res) => res.json())
          .catch((error) => console.error("Error:", error))
          .then((response) => {
            if (response.body) {
              this.departamentos = response.body;
            } else if (response.error == ("!token" || "tokenNull")) {
              this.cerrarSesion();
            }
          });
      } catch (error) {
        console.error("Error:", error);
      }
    },
    ///listado de municipios
    async listarMunicipio(municipio) {
      this.municipios = [];
      try {
        await fetch(`${this.url_api}/municipio`, {
          headers: {
            "Content-Type": "application/json",
            "auth-token": this.token,
          },
        })
          .then((res) => res.json())
          .catch((error) => console.error("Error:", error))
          .then((response) => {
            if (response.body) {
              response.body.forEach((element) => {
                if (element.departamento == this.values.departamento) {
                  this.municipios.push(element);
                }
                if (municipio) {
                  if (municipio == element.Uid) {
                    this.form.municipio = municipio;
                  }
                }
              });
            } else if (response.error == ("!token" || "tokenNull")) {
              this.cerrarSesion();
            }
          });
      } catch (error) {
        console.error("Error:", error);
      }
    },
    //// funcion vista previa a la imagen
    vistaPrevia() {
      this.url = [];
      this.urlE = [];
      this.image.forEach((element) => {
        this.url.push({
          src: URL.createObjectURL(element),
        });
      });
      this.imageE.forEach((element) => {
        this.urlE.push({
          src: URL.createObjectURL(element),
        });
      });
    },

    async guardar() {
      if (this.$refs.from.validate()) {
        console.log(this.i);
       let formData = new FormData();
       formData.append('equipo', this.values.equipo);
       formData.append('marca', this.values.marca);
       formData.append('vidaUtil', this.values.vidaUt);
       formData.append('fechaIns', this.values.fechaIns);
       formData.append('unico', this.values.unico);
       formData.append('modelo', this.values.modelo);
       formData.append('lote', this.values.lote);
       formData.append('referencia', this.values.referencia);
       formData.append('fechaFa', this.values.fechaFa);
       formData.append('compra', this.values.compra);
       formData.append('puestaUso', this.values.puestaUso);
       formData.append('codigointe', this.values.codigointe);
       formData.append('proveedor', this.values.prove);
       formData.append('propietario', this.values.propietario);
       formData.append('departamento', this.values.departamento);
       formData.append('municipio', this.values.municipio);
       formData.append('frenteTraba', this.values.frenteTraba);
       formData.append('clasificacion', this.values.clasi);
       formData.append('apertura', this.values.apertura);
       formData.append('resistencia', this.values.resistencia);
       formData.append('usoActual', this.values.usoActual);
       formData.append('cumpleStan', this.values.cumpleStan);
       formData.append('mantenimiento', this.values.mantenimiento);
       formData.append('proximaInspec', this.values.proximaInpeccion);
       formData.append('descripcionM', this.values.descripcionM);
       formData.append('tabla', JSON.stringify(this.tablaUno));
       formData.append('otrasObserv', this.values.otraObs);
       formData.append('resultado', this.values.resultado);
       formData.append('recomendacion', this.values.recomendacion);
       formData.append('continuar', this.values.continuar);
       formData.append('usar', this.values.usar);
       formData.append('usuario', this.usu.usuario);
       formData.append('item', this.lista.Uid);
       formData.append('image', this.image);
       formData.append('imageE', this.imageE);
       formData.append('imageB', this.imageB);

       //// guardando tipo de Equipo
       formData.append('id_tipoEquipo', this.tipoEquipo);
       //// campos para formulario tablaARNESES
       formData.append('capacida', this.values.capacida);
       formData.append('puntosAnclaje', this.values.puntosAnclaje);
       formData.append('resistenciaAnclaje', this.values.resistenciaAnclaje);
       formData.append('Talla', this.values.talla);
       ///// campo para formularo if49
       formData.append('diametroCuerda', this.values.diametroCuerda);
       ///// campo para formulario eslingas
       formData.append('longitud', this.values.longitud);
       formData.append('tipoEslinga', this.values.tipoEslinga);
       formData.append('clasifiEslinga', this.values.clasifiEslinga);
       formData.append('numeroConectores', this.values.numeroConectores);
       formData.append('aperturaEslinga', this.values.aperturaEslinga);
       formData.append('material',JSON.stringify(this.values.material));
       formData.append('dielectrica', this.values.dielectrica);
       ///// campos para cacos
       formData.append('materialConstru', this.values.materialConstru);
       formData.append('otroMaterial', this.values.otroMaterial);
       /// campos para cintas
       formData.append('ancho', this.values.ancho);
       /// campos para tripodes
       formData.append('cargaPermitida', this.values.cargaPermitida);
       formData.append('peso', this.values.peso);
       formData.append('cargaRotura', this.values.cargaRotura);
       formData.append('patasExtendidas', this.values.patasExtendidas);
       formData.append('patasRetraidas', this.values.patasRetraidas);



         try{
           await axios.post(`${this.url_api}/formato_inspeccion`,formData, {
                   headers: {
                       'Accept': 'application/json',
                       "auth-token": this.token
                   }
               })
               .then(res=> {return res})
               .catch(error => console.log(error))
               .then(response => {
                  if(response.data.body == 'exito'){
                    Swal.fire({
                      position: 'top-end',
                      icon: 'success',
                      title: '¡Guardo exitosamente!',
                      showConfirmButton: false,
                      timer: 1500
                    });
                    this.cerra();
                  }
             })
        }catch(error){
          console.log(error);
        }
      }
    },
  },
};
</script>
