<template>
    <div>
    <!--  <Certificado v-if="show2 == true" @escuchar2="escucha2" :show="show2" :marcas="marcas"  :lista="lista2"></Certificado> -->

      <div v-if="showForm==1">
        <lista @escuchar="escucha"  @escuchar2="escucha2" @escucha3="escucha3"></lista>
      </div>
      <div v-if="showForm==2">
        <Formulario  :show="show" @escuchar="escucha"  :proveedores="proveedores" :marcas="marcas" :lista="lista" ></Formulario>
      </div>
      <Realizada  v-if="showR == true" :show="showR" :resId="id"  @escucha3="escucha3" ></Realizada>
    </div>
</template>
<script>
import Formulario from './Formulario';
import lista from './Lista';
//import Certificado from './Certificado';
import Realizada from './Realizada';
import { mapState, mapActions } from "vuex";
  export default{
      name: "index",
      components: { // definicion de componentes
          Formulario,
          lista,
          ///Certificado,
          Realizada
      },
      data: ()=>({
        url_api: process.env.VUE_APP_URL_API,
        showForm: 1,
        show: false,
        show2: false,
        lista: [],
        lista2: [],
        marcas: [],
        proveedores: [],
        showR: false,
        id: 0,
      }),
      created(){

        this.listarMarcaItem();
        this.listarProveedorItem();
      },
      computed:{
          ...mapState(["token", "usuario"]),
      },
      methods:{
        ...mapActions(['cerrarSesion']), // esta es una funcion de cerrar session generalmente para las consullas

        escucha(item, num){ /// metodo de comunicacion con el conponente formulario
          console.log(num);
          this.showForm = num;
          this.lista = item;
          console.log(this.showForm);
        },
        escucha2(item, bol){ /// metodo de comunicacion con el componente certificado
          this.show2 = bol;
          this.lista2 = item;
        },
        escucha3(item, bol){ /// metodo de comunicacion con el componente Realizado
          this.id = item
          this.showR = bol;
        },
        async listarMarcaItem() { ////lista de marca de items
            try {
                await fetch(`${this.url_api}/marca`, {
                        headers: {
                            'Content-Type': 'application/json',
                            "auth-token": this.token
                        }
                    }).then(res => res.json())
                    .catch(error => console.error('Error:', error))
                    .then(response => {
                        if (response.body) {
                            this.marcas = response.body
                        } else if (response.error == ('!token' || 'tokenNull')) {
                            this.cerrarSesion();
                        }
                    });
            } catch (error) {
                console.error('Error:', error);

            }


    },

    async listarProveedorItem() {
      //lista de proveedores
      try {
        await fetch(`${this.url_api}/proveedor`, {
          headers: {
            "Content-Type": "application/json",
            "auth-token": this.token,
          },
        })
          .then((res) => res.json())
          .catch((error) => console.error("Error:", error))
          .then((response) => {
            if (response.body) {
              this.proveedores = response.body;
            } else if (response.error == ("!token" || "tokenNull")) {
              this.cerrarSesion();
            }
          });
      } catch (error) {
        console.error("Error:", error);
      }
    },
  },
};
</script>
