<template>
  <div>
    <!-- alerta CRUD -->
    <v-snackbar v-model="alerta" :color="colorAlerta" right top :timeout="timeout">
        {{ textoAlerta }}
        <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="alerta = false">
                Cerrar
            </v-btn>
        </template>
    </v-snackbar>
    <!-- fin alerta CRUD -->
    <v-text-field
         v-model="search"
         clearable
         flat
         solo-inverted
         hide-details
         prepend-inner-icon="mdi-magnify"
         label="Search"
       ></v-text-field>
    <v-data-table

    :headers="headers" :items="activos"  item-key="name" class="elevation-1"
    :search="search" :footer-props="{
        showFirstLastPage: true,
        firstIcon: 'mdi-arrow-collapse-left',
        lastIcon: 'mdi-arrow-collapse-right',
        'items-per-page-text': 'N° Paginas',
        'items-per-page-all-text':'Todos',
        pageText: '{1} de {2}',
        }"
    >
        <template v-slot:[`item.persona`]="{ item }">{{ item.nombre }} {{ item.apellido }}</template>

    <template v-slot:top>
          <v-toolbar flat class="rounded-lg">
                <v-toolbar-title>MODULO DE INSPECCION</v-toolbar-title>
          </v-toolbar>
    </template>

    <template v-slot:body.prepend>
      <tr>
          <td>
              <v-text-field type="text" placeholder="N/A" disabled></v-text-field>
          </td>
          <td>
              <v-text-field type="text" placeholder="N/A" disabled></v-text-field>
          </td>
          <td>
              <v-text-field type="text" placeholder="N/A" disabled></v-text-field>
          </td>
          <td>
              <v-text-field type="text" placeholder="N/A" disabled></v-text-field>
          </td>
          <td>
              <v-autocomplete @change="listarBodega()" v-model="sede" :items="sedes" item-text="nombre"
                  item-value="nombre" prepend-inner-icon="mdi-office-building-marker" label="Sede" clearable>
              </v-autocomplete>

          </td>
          <td>
              <v-autocomplete v-model="bodega" :items="fBodegas" item-text="nombre" item-value="nombre"
                  prepend-inner-icon="mdi-garage-variant" label="Bodega" clearable>
              </v-autocomplete>
          </td>
          <td>
              <v-text-field type="text" placeholder="N/A" disabled></v-text-field>
          </td>
          <td>
              <v-text-field type="text" placeholder="N/A" disabled></v-text-field>
          </td>
      </tr>
    </template>
    <template v-slot:item.a="{ item }">
        <div v-if="!item.foto">
            <div v-for="(img, index) in imgs" :key="index">
                <v-img :src="img.foto" style="width: 100px; height:100px">
                    <template v-slot:placeholder>
                        <v-row class="fill-height ma-0" align="center" justify="center">
                            <v-progress-circular indeterminate color="grey"></v-progress-circular>
                        </v-row>
                    </template>
                </v-img>
            </div>
        </div>
        <div class="pa-2" v-else>
            <v-dialog transition="dialog-bottom-transition" max-width="80%">
                <template v-slot:activator="{ on, attrs }">
                    <v-img :src="`${url_api}/files/images/${item.Uid}/.Metadatos/${item.foto}`"
                        style="width: 100px; height:100px" v-bind="attrs" v-on="on" @click="galeriaImagen(item)"
                        contain>
                        <template v-slot:placeholder>
                            <v-row class="fill-height ma-0" align="center" justify="center">
                                <v-progress-circular indeterminate color="grey"></v-progress-circular>
                            </v-row>
                        </template>
                    </v-img>
                </template>
                <template v-slot:default="dialog">
                    <v-card>
                        <v-toolbar color="primary" dark>
                            <v-card-title>
                                <span class="text-h5">ITEM - {{item.codigo}}</span>
                            </v-card-title>
                            <v-spacer></v-spacer>
                            <v-btn icon dark @click="dialog.value = false">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                        </v-toolbar>
                        <v-card-text>
                            <galeria :items="images" :model="0" />
                        </v-card-text>
                    </v-card>
                </template>
                <template>
                    <div>holascascas</div>
                </template>
            </v-dialog>
        </div>
    </template>
    <template v-slot:item.actions="{ item }" class="tamano">
      <v-tooltip top>
      <template v-slot:activator="{ on, attrs }">
          <v-btn   v-bind="attrs" v-on="on"  @click="formulario(item, 2)">
                <v-icon small color="success">  mdi-file  </v-icon>
          </v-btn>
      </template>
      <span>Inspeccionar</span>
    </v-tooltip>
    <!-- <v-tooltip top>
    <template v-slot:activator="{ on, attrs }">
        <v-btn  v-bind="attrs" v-on="on" @click="certificado(item, true)">
              <v-icon small color="primary">  mdi-file  </v-icon>
        </v-btn>
    </template>
    <span>Certificado</span>
  </v-tooltip>  -->
    <v-tooltip top>
    <template v-slot:activator="{ on, attrs }">
        <v-btn  v-bind="attrs" v-on="on" @click="realizada(item, true)">
              <v-icon small color="primary" > mdi-note-text  </v-icon>
        </v-btn>
    </template>
    <span>Realizadas</span>
  </v-tooltip>
    </template>
  </v-data-table>
  </div>
</template>
<script>
  import { mapState, mapActions } from "vuex";
  import axios from 'axios';
  import imagePre from "@/assets/yedi.png";
  import Swal from 'sweetalert2';

  export default{
      data: () => ({
        url_api: process.env.VUE_APP_URL_API,
        activos: [], // lista item

        alerta: false, ///variables de alerta
        textoAlerta: '',
        colorAlerta: '',
        timeout: 2000,
        search: '',/// fin

        sede: '', ///filtro
        sedes: [],
        bodega:'',
        bodegasAll: [],
        bodegas: [],
        fBodegas: [],////
        usu:'',
        imgs: [{ /// esta imagenes por si no suben una por default
            foto: imagePre
        }],
      }),
      computed: {
        //esta fucion es global y comparte el usuario logueado y el token A TODOS
        ...mapState(["token", "usuario"]),

        headers() {
            return [{
                    text: "Images",
                    value: "a",
                    sortable: false
                },
                {
                    text: "Codigo",
                    value: "codigo",
                },
                {
                    text: "Marca",
                    value: "marca",
                },
                {
                    text: "Descripcion",
                    value: "descripcion",
                },
                {
                    text: "Sede",
                    value: "sede",
                    filter: (value) => {
                        if (this["sede"] == null) {
                            return this.activos;
                        } else {
                            return (value + "").toLowerCase().includes(this["sede"].toLowerCase());
                        }
                    },
                },
                {
                    text: "Bodega",
                    value: "bodega",
                    filter: (value) => {
                        if (this["bodega"] == null) {
                            return this.activos;
                        } else {
                            return (value + "").toLowerCase().includes(this["bodega"].toLowerCase());
                        }
                    },
                },
                {
                    text: "Estado",
                    value: "estadoInpe",
                },
                {
                    text: "Actions",
                    value: "actions",
                    sortable: false
                },
            ];
        },
        //fin fucion headers
      },
      //fin funcion computed
      created(){
        this.listarItem();
        this.listarSede();
        this.listarBodega();
        this.usu = JSON.parse(this.usuario);
      },
      methods:{
        ...mapActions(['cerrarSesion']),

        formulario(item, num){

            let data = { user:this.usu.usuario, id: item.Uid }; /// entrada de tados de usuaario para validar en consulta
            const prueba = this.validarInspeccion(data);
            prueba.then((value)=>{
              if(value.estado == "vigente"){
                  this.$emit('escuchar', item, num);
              }
              if(value.estado == "Realizar"){
                this.$emit('escuchar', item, num);
              }
              else{
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'No puedes Realizar inspeccion, proxima inpección programada para : '+ value.fecha,
                });
              }
            })
        },
        // vincular(){
        //     return false
        // },
        // certificado(item, bol){
        //   this.$emit('escuchar2', item, bol); /// formulario de certificado funcional pero no es ne
        // },
        realizada(item, bol){
          this.$emit('escucha3', item, bol);
        },
        async listarItem() { ///funcion listar items
            try {
                await axios.get(this.url_api+'/item', {
                        headers: {
                            'Content-Type': 'application/json',
                            "auth-token": this.token
                        }
                    }).then(res => {return res})
                    .catch(error => console.error('Error:', error))
                    .then(response => {
                        if (response.data.body) {
                            this.activos = response.data.body;


                        } else if (response.error == ('!token' || 'tokenNull')) {
                            this.cerrarSesion();
                        }
                    });
            } catch (error) {
                console.error('Error:', error);
            }
        },////fin

        async validarInspeccion(data){
              var result  = await axios.post(`${this.url_api}/formato_inspeccion/validar/`,data, {
                      headers: {
                          'Accept': 'application/json',
                          "auth-token": this.token
                      }
                  }).then(res =>res.data.body)
                  .catch(error => console.log("ERROR:", error))
                return result;
        },


        async listarSede() { ///listar sede
            try {
                await axios.get(this.url_api+'/sede', {
                        headers: {
                            'Content-Type': 'application/json',
                            "auth-token": this.token
                        }
                    }).then(res => { return res})
                    .catch(error => console.error('Error:', error))
                    .then(response => {
                        if (response.data.body) {
                            this.sedes = response.data.body;
                        } else if (response.error == ('!token' || 'tokenNull')) {
                            this.cerrarSesion();
                        }
                    });
            } catch (error) {
                console.error('Error:', error);
            }
        },/////

        async listarBodega() { /// funcion listar
            // this.bodegas = [];
            this.isEditing = true
            if (this.sede) {
                this.sedes.filter(element => {
                    if (element.nombre == this.sede) {
                        this.itemSede = element.Uid;
                    }
                })
            }
            if (this.itemSede) {
                try {
                    if (this.bodegasAll.length > 0) {
                        this.bodegas = this.bodegasAll.filter(element => element.sede ==
                            this.itemSede);

                        if (this.sede) {
                            this.fBodegas = this.bodegas;
                        } else {
                            this.fBodegas = [];
                        }

                        if (this.itemBodega > 0) {
                            this.bodegas.forEach(element => {
                                if (element.Uid == this.itemBodega) {
                                    this.itemBodega = element.Uid;
                                }
                            });
                        }
                    } else {
                        await fetch(`${this.url_api}/bodega`, {
                                headers: {
                                    'Content-Type': 'application/json',
                                    "auth-token": this.token
                                }
                            }).then(res => res.json())
                            .catch(error => console.error('Error:', error))
                            .then(response => {
                                if (response.body) {
                                    if (this.itemSede) {
                                        this.bodegasAll = response.body;

                                        this.bodegas = this.bodegasAll.filter(element => element.sede ==
                                            this.itemSede);

                                        if (this.sede) {
                                            this.fBodegas = this.bodegas;
                                        } else {
                                            this.fBodegas = [];
                                        }

                                        if (this.itemBodega > 0) {
                                            this.bodegas.forEach(element => {
                                                if (element.Uid == this.itemBodega) {
                                                    this.itemBodega = element.Uid;
                                                }
                                            });
                                        }
                                    }
                                } else if (response.error == ('!token' || 'tokenNull')) {
                                    this.cerrarSesion();
                                }
                            });
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            }
        },
        async galeriaImagen(item) {
            this.images = [];
            this.imgEliminar = [];
            this.tituloimagen = item.codigo;
            try {
                this.images = this.allImages.filter(element => element.Uid_item == item.Uid);
            } catch (error) {
                console.log(error);
            }
        },
      }
  }
</script>
<style>
.tamano{
  font-Size:43
}

</style>
