<template>
  <div class="home mt-3">
      <v-card>
          <v-dialog v-model="mostrar" max-width="1000px" persistent>
              <v-card>
                  <v-toolbar color="primary" dark>
                      <v-card-title>
                          <span class="text-h5">INPECCIONES Y CERTIFICACIONES REALIZADAS</span>
                      </v-card-title>
                        <v-spacer></v-spacer>
                      <v-btn icon dark @click="cerra">
                          <v-icon>mdi-close</v-icon>
                      </v-btn>
                  </v-toolbar>
                  <v-card-text>
                      <v-container>

                          <div>
                            <v-spacer></v-spacer>
                            <span class="text-h5">CERTIFICADO:          </span>
                            <table  lass="colapsado" border="1">
                            <tr>
                              <th width="200"  > <span class="text-h6">FECHA </span>  </th>
                              <th width="200" > <span class="text-h6">DESCARGAR </span> </th>
                            </tr>
                            <tbody>
                              <tr v-for="(item,index ) in certificado" :key="index">
                                <td>
                                  <b>{{formatted(item.fechaInsp)}}</b>
                                </td>
                                <td style="text-align:center;">
                                      <div v-if="index == idFile && variable == true "  >
                                        <v-progress-circular
                                        indeterminate
                                        color="red"
                                      ></v-progress-circular>
                                      </div>

                                      <div v-else>
                                        <v-btn @click="file(item, index)">
                                              <v-icon size="36" color="red" >mdi-file-pdf-box</v-icon>
                                        </v-btn>
                                      </div>

                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                          <div class="separar">
                            <span class="text-h5 bajarTable">INSPECCION:</span>
                            <table  lass="colapsado" border="1">
                            <tr>
                              <th width="200"  > <span class="text-h6">FECHA </span>  </th>
                              <th width="200" > <span class="text-h6">DESCARGAR </span> </th>
                              <th width="200" > <span class="text-h6">INSPECTOR </span> </th>
                              <th width="200" > <span class="text-h6">PROXIMA INSPECCION </span> </th>


                            </tr>
                            <tbody>
                              <tr v-for="(item,index ) in formulario" :key="index">
                                <td> <b> {{formatted(item.fechaInspeccion)}}</b></td>
                                <td style="text-align:center;">
                                  <div v-if="index == idFile2 && variable2 == true "  >
                                    <v-progress-circular
                                    indeterminate
                                    color="red"
                                  ></v-progress-circular>
                                  </div>
                                  <div v-else>
                                    <v-btn  @click="fileInspeccion(item, index)">
                                          <v-icon  size="36" color="red" > mdi-file-pdf-box  </v-icon>
                                    </v-btn>
                                  </div>


                                </td>
                                <td><b>{{item.nombre_persona}}</b></td>
                                <td> <b>{{formatted(item.proximaFecha)}}</b></td>
                              </tr>

                            </tbody>
                            </table>
                            </div>

                              <v-divider></v-divider>
                              <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="error" class="mr-4"  @click="cerra">
                                      Cancelar
                                  </v-btn>
                                  <v-btn :disabled="!mostrar" color="success" class="mr-4">
                                      Guardar
                                  </v-btn>
                              </v-card-actions>


                      </v-container>
                  </v-card-text>
              </v-card>
          </v-dialog>
      </v-card>
  </div>
</template>
<style>
table {
  border-collapse: collapse;
  border-spacing:40px;}
  .separar{
    margin-top: 55px;
  }
  .tamano{
  }

</style>
<script>
import axios from 'axios';
import moment from 'moment';
import {  mapState,  mapActions } from "vuex";
export default{
  name: 'Relazada',
  props:['show', 'resId'],
  data: () =>({
    url_api: process.env.VUE_APP_URL_API,
    mostrar: false,
    usu : '',
    id : '',
    formulario:{},
    certificado: {},
    variable: false,
    idFile: 0,
    variable2: false,
    idFile2: 0,

  }),
  created(){
    this.mostrar = this.show;
    this.usu = JSON.parse(this.usuario);
    this.id = this.resId.Uid;
    this.cargando();
    this.cargandoCertificado();
  },
  computed:{
    ...mapState(["token", "usuario"]),

  },
  methods:{
    ...mapActions(['cerrarSesion']),

    cerra(){
          this.mostrar = false,
          this.$emit('escucha3', null, this.mostrar,);
    },
    observar(){

    },
    formatted(value){
      return moment(String(value)).format('MM/DD/YYYY');
    },
    async cargando(){
    let data = {numero: this.id, user:this.usu.usuario }
      try {
        await axios.post(`${this.url_api}/formato_inspeccion/getInspeccion/`,data, {
                headers: {
                    'Accept': 'application/json',
                    "auth-token": this.token
                }
            })
            .then(res=> {return res})
            .catch(error => console.log(error))
            .then(response => {
               if(response.data.body){
                 this.formulario = response.data.body;
               }
               else{
                 console.log('error');
               }
          })
      }catch(err){
        console.log(err);
      }
    },
    async cargandoCertificado(){
    let data = {numero: this.id, user:this.usu.usuario }
      try {
        await axios.post(`${this.url_api}/certificado/getCertificado/`,data, {
                headers: {
                    'Accept': 'application/json',
                    "auth-token": this.token
                }
            })
            .then(res=> {return res})
            .catch(error => console.log(error))
            .then(response => {
               if(response.data.body){
                 this.certificado = response.data.body;
                 //this.formulario = response.data.body;
               }
               else{
                 console.log('error');
               }
          })
      }catch(err){
        console.log(err);
      }
    },
    async file(res, i){
        this.variable = true;
        this.idFile = i;
        try {
          await axios.post(`${this.url_api}/formato_inspeccion/file/`,res, {
                  headers: {
                      'Accept': 'application/json',
                      "auth-token": this.token
                  }
              })
              .then(res=> {return res})
              .catch(error => console.log(error))
              .then(response => {
                if(response.data.body){
                        window.open(`${this.url_api}/files/formatos/certificado/${response.data.body}`, '_blank');
                        this.variable = false;
                }

                 else{
                   console.log('error');
                 }
            })
        }catch(err){
          console.log(err);
        }
    },
    async fileInspeccion(res,i){
      // let data ={
      //     equipo: this.formulario[0].equipo,
      //     marca: this.formulario[0].marca
      // }
      // console.log(data);
      // let res = JSON.stringify(data);
    //let res = this.formulario[0];
    this.variable2 = true;
    this.idFile2 = i;
        try {
          await axios.post(`${this.url_api}/formato_inspeccion/fileInspeccion/`,res, {
                  headers: {
                      'Accept': 'application/json',
                      "auth-token": this.token
                  }
              })
              .then(res=> {return res})
              .catch(error => console.log(error))
              .then(response => {
                if(response.data.body){
                  // window.location.href =
                  //     `${this.url_api}/files/formatos/Inspecciones/${response.data.body}`,'_blank';
                      window.open(`${this.url_api}/files/formatos/inspecciones/${response.data.body}`, '_blank');
                      this.variable2 = false;

                }

                 else{
                   console.log('error');
                 }
            })
        }catch(err){
          console.log(err);
        }
    }


  }
}

</script>
